.mat-form-field {
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Optional: Add border radius */
}
.row{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  & mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 0px 5px 20px;
  display: flex;
  justify-content: space-between;
  & button {
    flex: 1;
  }
}

.main-body{
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1249px;
  & mat-form-field {
    width: 100%;
  }
}
